<div class="close-profile" (click)="toggleProfile($event)">X</div>
<div id="profile-container">
  <div class="view-profile">
    <div class="profile-body">
      <div class="profile-pic">
        <app-profile-pic></app-profile-pic>
      </div>
      <div class="user-name">
        <h2>{{ firstName }} {{ lastName }}</h2>
        <h4>@{{ username }}</h4>
      </div>
      <div class="user-birthday">
        <p>Birthday: {{ bday }}</p>
      </div>
      <div class="user-about-me">
        <p>
          {{ aboutMe }}
        </p>
      </div>
      <div class="updateProfileBtn">
        <app-buttons
          class="updateBtn"
          id="updateBtn"
          (onClick)="updateProfile($event)"
          [label]="updateLabel"
        ></app-buttons>
      </div>
    </div>
  </div>
</div>
