.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1.6rem;
  padding: .5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 500px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

h2 {
  font-weight: bold;
  color: #14142b;
}

label {
  color: #6e7191;
}

textarea {
  width: 250px;
  background-color: #eff0f7;
  border: 2px solid transparent;
  border-radius: 1.6rem;
  padding: 1rem 1.4rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}

textarea:focus,
textarea:hover {
  border: 2px solid #5f2eea;
}
