<div class="form-container">
  <h2>Add Comment</h2>
  <form [formGroup]="newCommentForm">
    <div class="form-row">
      <label for="commText">Comment:</label>
      <textarea
        name="commText"
        id=""
        placeholder="Share a reply"
        formControlName="commText"
        cols="30"
        rows="4"
      ></textarea>
      <div class="warn">
        <ng-container>
          <div
            class="invalid"
            *ngIf="
              commText.hasError('required') &&
              (commText.dirty || commText.touched)
            "
          >
            This field must not be empty
          </div>
          <div
            *ngIf="
              commText.hasError('maxlength') &&
              (commText.dirty || commText.touched)
            "
          >
            Post must be 150 characters or less
          </div>
        </ng-container>
      </div>
    </div>

    <app-buttons
      class="submitBtn"
      id="submitBtn"
      (click)="onClick($event)"
      [label]="submitLabel"
    ></app-buttons>
  </form>
</div>
