.logo {
  font-family: "Caveat", sans-serif;
  font-size: 3.9rem;
  font-weight: bold;
  background: #624af2;
  background: -webkit-linear-gradient(to right, #624af2 0%, #50ddc3 100%);
  background: -moz-linear-gradient(to right, #624af2 0%, #50ddc3 100%);
  background: linear-gradient(to right, #624af2 0%, #50ddc3 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}

.sidebar-container {
  background-color: rgb(255, 255, 255, 0.5);
  flex-direction: column;
  align-items: center;
  width: 30%;
  border-radius: 1.6rem;
  color: #14142b;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.8rem;
  z-index: 1;
  position: fixed;
  right: 1.6rem;
}

.notification-box {
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 1.6rem;
    color: #14142b;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1.6rem;
    margin: 1.2rem;

}