
<div class="sidebar-container">
    <h2 class="logo">Notifications</h2>
    
    <div *ngFor="let notification of notifications">
        <span *ngIf="notification.timestamp > notification.userBelongTo.lastNotification">(new)</span>
        
        <div class="notification-box">
            <span>{{notification.userFrom.firstName}} {{notification.userFrom.lastName}} {{notification.type | lowercase}}ed </span>
            <span *ngIf="notification.type == 'comment'">on a post!</span>
            <span *ngIf="notification.type == 'follow'">you!</span>
            &nbsp;
            <div class="d-inline-flex">{{notification.timestamp | someTimeAgo}}</div>
        </div>
        
        <!-- TO BE EVALUATED LATER -->
        <!-- <a routerLink="/profile/{{notification.userResponse.id}}">{{notification.userResponse.name}}</a>
        {{notification.type}} your
        <a routerLink="/feed/{{notification.feedID}}">Feed</a> -->
    </div>

</div>