<button class="button button4">
    <div class="row1">
        <app-profile-pic-sm [imgSrc]="comment.user.proPicUrl"></app-profile-pic-sm>
        <div class="user">
            <h4 class="name">{{comment.user.firstName}}</h4>
            <a class="username" [routerLink] = "['/profile-feed', userId]">@{{comment.user.username}}</a>
            <!-- <h4 class="date">Sep 10</h4> -->
        </div>
    </div>
    <div class="row2">
        <div class="comment">{{comment.commText}}</div>
    </div>
</button>