/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  /* max-width: 100%;
  height: 100%; */
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #fbfbfb;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  /* line-height: 1.5rem; */
  letter-spacing: -0.25px;
  color: #14142b;
}

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
