@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons");

/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  /* max-width: 100%;
  height: 100%; */
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #fbfbfb;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  /* line-height: 1.5rem; */
  letter-spacing: -0.25px;
  color: #14142b;
}

/* html, body { height: 100%; } */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  width: 384px;
  height: 48px;
  background-color: #eff0f6;
  border-radius: 16px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  padding: 0 2.4rem;
}

input:hover {
  border: 2px solid #5f2eea;
}

input:focus {
  border: 2px solid #5f2eea;
  background-color: white;
}

.warn {
  padding-left: 1.6rem;
  color: #ed2e7e;
  height: 1.6rem;
}
