<app-nav-bar></app-nav-bar>
<div class="list-users">
    <div class="users-container" *ngFor = "let user of userList">
        <button class="button button4" type="button"
            [routerLink]="['/profile-feed', user.userId]">
            <div class="profile-info">
                <div class="pic-name">
                    <app-profile-pic [passed] = "'img2'" [imgSrc]="user.proPicUrl"></app-profile-pic>
            
                    {{ user.firstName }}<br>
                    <a>@{{ user.username }}</a>
                </div>
                <div class="about-me">
                    {{user.aboutMe}}
                </div>
            </div>
            <app-buttons
                class="followBtn"
                id="followBtn"
                (onClick)="follow()"
                [label]="followLabel"></app-buttons>
        </button>
   </div>
</div>