.profile-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.6rem;
  border-radius: 1.6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 3.2rem;
}

#profile-image-form,
#profile-details-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

p {
  color: #00ba88;
}

h2 {
  font-weight: bold;
  color: #14142b;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

label {
  color: #6e7191;
}

textarea {
  width: 325px;
  background-color: #eff0f7;
  border: 2px solid transparent;
  border-radius: 1.6rem;
  padding: 2rem 2.4rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}

textarea:focus,
textarea:hover {
  border: 2px solid #5f2eea;
}

/* .text-field {
  width: 325px;
  height: 64px;
  background-color: #eff0f6;
  border-radius: 16px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  padding: 0 2.4rem;
}

.text-field:hover {
  border: 2px solid #5f2eea;
}

.text-field:focus {
  border: 2px solid #5f2eea;
  background-color: white;
} */

#uploadBtn {
  width: 325px;
  height: 6.4rem;
  background-color: white;
  border: 2px solid #5f2eea;
  border-radius: 1.6rem;
  color: #5f2eea;
  font-weight: bold;
}

#uploadBtn:hover {
  background-color: #5f2eea;
  color: white;
}
