.post-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border-radius: 1.6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--posts);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1.6rem;
}

.post-media {
  display: inline-block;
  min-width: 350px;
}

.image-container{
  width: 600px;
}

.post-image {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: .8rem;
 margin-top: 25px;
}

.user {
  display: block;
  flex-direction: row;
  align-items: flex-end;
  gap: 1.6rem;
}

.name {
  margin-bottom: 10%;
  font-weight: bold;
  font-size: 2.4rem;
  /* color: #14142b; */
  color: var(--font-color);
}

.username {
  color: #1cc8ee;
  text-decoration: none;
  font-size: 1.6rem;
}

.post-text {
  display: flex;
  font-size: 1.6rem;
  font-weight: medium;
  color: var(--font-color);
}

.comment-like {
  display: block;
  gap: 3.2rem;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.comment-like a {
  color: #1cc8ee;
}

.comment-like-icons {
  display: flex;
  gap: 1.6rem;
  align-items: flex-end;
}

a {
  cursor: pointer;
}

img {
  width: 100%;
  border-radius: 1.6rem 1.6rem 0 0;
  /* object-fit: cover; */
}

/* .button {
  width: 670px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
} */
.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {
  background-color: #e7e7e7;
}

.date {
  right: 0;
  position: absolute;
  margin: 10px;
  margin-right: 20px;
}

.comment{
  color: var(--font-color);
}

.comment,
.like,
.bookmark {
  cursor: pointer;
}

.btnColor {
  color: #ed2e7e;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  margin: auto;
  border: 1px solid #888;
  width: max-content;
  border-radius: 10px;
}
.mod-cont{
  display:flex;
  flex-direction: column;
}
/* The Close Button */
.close {
  color: #5f2eea;
  float: left;
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
  margin-left: 70%;
  /* background-color: transparent; */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.icons{
  display: flex;
  gap: 3.2rem;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.like-count:hover{
cursor: pointer;
}

.like-count{
  color: #1cc8ee;
}

#bookmark-icon{
  cursor: pointer;
}