:host {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.6rem;
}

.user-feed-container {
  display: flex;
  justify-content: space-between;
}

.post-feed {
  display: flex;
}
