.login-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  border-radius: 1.6rem;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

label {
  color: #6e7191;
}

p {
  margin-top: 1.6rem;
}

.forgot {
  text-decoration: underline;
  cursor: pointer;
}

.left,
.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem;
}

.left {
  background-color: rgb(80, 221, 195);
  background: url("../../../assets/ocean.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(14, 74, 184, 0.392);
  border-radius: 1.6rem 0 0 1.6rem;
  justify-content: center;
  gap: 6.4rem;
  text-align: center;
  width: 384px;
  color: white;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.headline h2 {
  font-family: "Caveat", cursive;
  font-size: 6.4rem;
  text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
}

.headline p {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: normal;
  margin: 0;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.signup a {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.loginPgBtns {
  display: flex;
  justify-content: space-evenly;
}
.loginPgBtn {
  display: flex;
  justify-content: space-evenly;
}
#signupBtn ::ng-deep .btn {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  background-color: #5f2eea;
  color: white;
  border-radius: 8px;
}
#signupBtn:hover ::ng-deep .btn {
  background-color: white;
  color: #5f2eea;
  border: 2px solid #5f2eea;
}
