<form [formGroup]="loginForm">
  <div class="form-row">
    <label for="username">Username:</label>
    <input
      id="username"
      class="text-field"
      type="text"
      formControlName="username"
    />
  </div>
  <div class="form-row">
    <label for="password">Password:</label>
    <input
      id="password"
      class="text-field"
      type="password"
      formControlName="password"
    />
  </div>

  <div class="loginPgBtns">
    <app-buttons class="loginPgBtn" id="signupBtn" (onClick)="signUp($event)" [label]="signUpLabel"></app-buttons>
    <app-buttons class="loginPgBtn" id="loginBtn" (onClick)="logIn($event)" [label]="logInLabel"></app-buttons>
  </div>
  
</form>

<!-- <p>Form Status: {{ loginForm.status }}</p>
<p>Username Value: {{ loginForm.value | json }}</p> -->
