<div class="sidebar-container">
    <div class="sidebar-logo">
      Ocean
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Search</li>
      <li class="searchBar">
        <input type="text" placeholder="Search..">
        <button type="submit" class="searchBtn"><i class="fa fa-search"></i></button>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
      </li>
      <li class="header">Navigation</li>
      <li>
        <a href="#">
          <i class="fa fa-hashtag" aria-hidden="true"></i> Explore
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-bell-o" aria-hidden="true"></i> Notifications
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-user" aria-hidden="true"></i> Profile
        </a>
      </li>
    </ul>
  </div>