.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 265px;
  height: max-content;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 1.6rem;
  color: #14142b;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: 15px;
  margin-top: 15px;
  padding: 1.6rem;
}

.logo {
  padding: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  background: #624af2;
  background: -webkit-linear-gradient(to right, #624af2 0%, #50ddc3 100%);
  background: -moz-linear-gradient(to right, #624af2 0%, #50ddc3 100%);
  background: linear-gradient(to right, #624af2 0%, #50ddc3 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
  padding: 0;
}

li {
  padding: 0.8rem;
}

li:hover {
  color: #5f2eea;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  color: #14142b;
}

/* .content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color: transparent;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  overflow: hidden;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

.view-profile {
  display: flex;
}

.view-profile ::ng-deep a {
  padding: 0;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
  font-size: x-large;
  font-style: italic;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #1a1a1a;
  cursor: pointer;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #5f2eea;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.sidebar-logo {
  font-family: "Caveat", cursive;
  font-size: 6.4rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  color: #1637f3;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 40px;
  text-align: center;
}
.searchBar {
  display: flex;
}
input.bar {
  background-color: #eff0f6;
  border-radius: 16px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  padding: 0.8rem;
}

.bar:hover {
  border: 2px solid #5f2eea;
}

.bar:focus {
  border: 2px solid #5f2eea;
  background-color: white;
}

.searchBtn {
  color: #1a1a1a;
  font-size: 15px;
  background: none;
  margin: 2px;
  padding: 2px;
  text-align: center;
}

/* Style the search box inside the navigation bar */
.sidebar-navigation input[type="text"] {
  float: none;
  padding: 6px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
/*  @media screen and (max-width: 600px) {
    .sidebar-navigation a, .sidebar-navigation input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .sidebar-navigation input[type=text] {
      border: 1px solid #ccc;
    }
  } */

@media screen and (max-width: 700px) {
  .sidebar-navigation {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-navigation a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar-navigation a {
    text-align: center;
    float: none;
  }
}
