<div class="sidebar-container">
  <div class="logo">Ocean</div>
  <ul class="">
    <!-- <li class="header">Search</li> -->
    <li class="searchBar">
      <div class="search">
      <button type="submit" class="btn searchBtn">
        <i class="fa fa-search"></i>
      </button>
      <input type="text" class="bar" placeholder="Search..." [(ngModel)]="searchInput"/>
        <div class="searchList" *ngFor="let user of listTemp">
          <app-user-link [user]="user"></app-user-link>
        </div>
      </div>
    </li>
    <li>
      <a> <i class="fa fa-home" aria-hidden="true"></i> Home </a>
    </li>
    <!--<li class="header">Navigation</li>-->
    <li>
      <a> <i class="fa fa-hashtag" aria-hidden="true"></i> Explore </a>
    </li>
    <li>
      <a> <i class="fa fa-bell-o" aria-hidden="true"></i> Notifications </a>
    </li>
    <li>
      <a (click)="onViewById()"> My Feed </a>
    </li>
    <li>
      <a (click)="toggleProfile($event)"> My Profile </a>
    </li>
  </ul>
  <app-buttons
    class="logoutBtn"
    id="logoutbtn"
    (onClick)="logout($event)"
    [label]="logOutLabel"
  ></app-buttons>
</div>
<app-view-profile
  [style.left]="profilePosition"
  (hide)="profilePosition = '-64rem'"
></app-view-profile>
